* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(#92b7d2, #6e92ae);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
header {
    background-image: linear-gradient(to right, #92b7d2 ,#6e92ae);

}

.base {
    max-width: 2300px;
    padding: 1%;
    margin: 0 auto;
}

.fa-bars {
    margin-right: 10px;
  }
  
  .navigation-menu {
    background: #111;
    height: 100%;
    width: 50%;
    padding: 60px 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position: fixed;
    right: -45%;
    top: 0;
    transition: all 0.5s;
    z-index: 1;
    font-size: 60px;
  }
  
  .navigation-menu li {
    padding: 30px 0;
  }
  
  .navigation-menu li:nth-of-type(2n) {
    background: #222;
  }
  
  .navigation-menu li:hover {
    background: #444;
  }
  
  .navigation-menu a {
    color: #E5E5E5;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    transition:all 0.3s;
  }
  
  
  
  .navbar {
    background: #E5E5E5;
    padding: 20px;
    position: fixed;
    width: 96%;
    top: 0;
    left: -1%;
  }
  
  .content {
    width: 80%;
    margin: 40px auto;
    padding-top: 75px;
    transition: all 0.5s; 
    position: relative;
    left: 0;
  }
  
  /* Hide the checkbox */
  #toggle {
    display: none; 
  }
  
  /* Use this label to toggle the sliding menu */
  label[for="toggle"] {
    cursor: pointer;
    font-size: 30px;
    margin-left: 40px;
  }
  
  /* Slide menu when checkbox is checked */
  input#toggle:checked + ul.navigation-menu {
    right: -1%;

  }
  
  input#toggle:checked ~ .content {
    left: -45%;
  }
  

.titulo {
    font-style: italic;
    font-family: Georgia;
    font-size: 45px;
    color: black;
    text-align: center;
    margin-top: 5%;
    text-shadow:0.3em 0.2em 0.45em black;
}

.corpo {
     margin: 0 auto;
     padding: 1%;
     padding-left:18% ;
}